.dock-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #808080;
  padding: 2px;
  z-index: 1000;
}

.dock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding: 0 4px;
}

.dock-item {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  font-size: 25px;
  height: 34px;
  border: 1px solid transparent;
}

.dock-item:hover {
  background-color: #dcdcdc;
  border: 1px outset #ffffff;
}

.dock-item.selected {
  background-color: #bfbfbf;
  border: 1px inset #808080;
}

.icon img {
  width: 25px;
  height: 25px;
  margin-right: 4px;
  image-rendering: pixelated;
}

.dock-label {
  font-family: "w95-typeface", sans-serif;
  color: #000000;
  font-size: 18px;
  user-select: none;
}

.dock-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-left: auto; /* Pushes clock to the right */
  padding: 2px 8px;
  border-left: 1px solid #808080;
  height: 100%;
  background-color: #c0c0c0;
  font-family: "w95-typeface", sans-serif;
  font-size: 15px;
  color: #000000;
  user-select: none;
}

.dock-clock span {
  line-height: 1.2;
}
